<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<span th:text="#{title.application}"></span>
<br>
No. of users: <span th:text="${@userServiceImpl.countUsers()}"/>
<table>
    <tr th:unless="${users.isEmpty()}">
        <th>Name</th>
        <th>Type</th>
    </tr>
    <tr th:each="user, userStat : ${users}">
        <td th:text="${user.getUsername()} + ' ' + ${userStat.index}">Name</td>
        <td th:text="${user.getUserType()}">Type</td>
    </tr>
</table>

</body>
</html>